{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
news
{% endblock title %}
{% block content %}
<h1>поиск новостей</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<a href="{% url 'make' %}" class="btn btn-secondary btn-sm">Стать автором</a>
<h2>{{news|length}}</h2>
{% if news %}
<table>
    <tr>
        <td>заголовок</td>
        <td>дата публикации</td>
        <td>описание</td>
    </tr>
    {% for new in news%}
    <tr>
        <td>{{ new.header|censor }}</td>
        <td>{{ new.data_time }}</td>
        <td>{{ new.text|truncatewords:20 }}</td>
    </tr>
    {% endfor %}

</table>
{% else %}
<h1>таких новостей нет</h1>
{%endif%}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}